SOA-Projects/ProcessPaymentEBF/ProcessPaymentEBF.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ProcessPaymentEBF" targetNamespace="http://xmlns.oracle.com/Autopayment/ProcessPaymentEBF/ProcessPaymentEBF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/Autopayment/ProcessPaymentEBF/ProcessPaymentEBF" xmlns:pymnt="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ReceivedPayment/V1" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
   <wsdl:import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/apps/AIAMetaData/AIAComponents/UtilityArtifacts/RuntimeFault.wsdl"/>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://xmlns.oracle.com/Autopayment/ProcessPaymentEBF/ProcessPaymentEBF" schemaLocation="xsd/ProcessPaymentEBF.xsd"/>
         <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/EBO/ReceivedPayment/V1" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/EBO/ReceivedPayment/V1/ReceivedPaymentEBM.xsd"/>
         <import namespace="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" schemaLocation="oramds:/apps/AIAMetaData/AIAComponents/EnterpriseObjectLibrary/Industry/Communications/Common/V2/Meta.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="ProcessPaymentEBFRequestMessage">
      <wsdl:part name="payload" element="pymnt:CreateReceivedPaymentEBM"/>
   </wsdl:message>
   <wsdl:message name="FaultMsg">
      <wsdl:part name="AIAFault" element="corecom:Fault"/>
   </wsdl:message>
   <wsdl:message name="ProcessPaymentEBFResponseMessage">
      <wsdl:part name="payload" element="pymnt:QueryReceivedPaymentListResponseEBM"/>
   </wsdl:message>
   <wsdl:portType name="ProcessPaymentEBF">
      <wsdl:operation name="process">
         <wsdl:input message="client:ProcessPaymentEBFRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <plnk:partnerLinkType name="ProcessPaymentEBF">
      <plnk:role name="ProcessPaymentEBFProvider">
         <plnk:portType name="client:ProcessPaymentEBF"/>
      </plnk:role>
   </plnk:partnerLinkType>
</wsdl:definitions>
